---
Name: simple_template_caching_app
---
Sunnysideup\SimpleTemplateCaching\Extensions\PageControllerExtension:
    unique_cache_for_each_member: false
    unique_cache_for_each_member_group_combo: true

MyDataObject:
    indexes:
        LastEdited: true

# classes that change all the time and should not influence caching
SilverStripe\ORM\DataObject:
  excluded_classes_for_caching:
    - MyClass1
    - MyClass2

